.btn-cart {
    border: 2px solid;
    padding: 15px 32px;
    margin: 0 15px;
}

.products {
    display: flex;
}

.product-item {
    border: 1px solid;
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.product-img {
    width: 100%;
}