.btn-cart {
    border: 2px solid;
    padding: 15px 32px;
    margin-left: 80%;
}

.products {
    display: flex;
}

.product-item {
    border: 1px solid;
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.product-img {
    width: 50%;
}

.basket {
    border: 1px solid;
    width: 400px;
}

.basketRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

.hidden {
    display: none;
}